<h1>Support</h1>
<p class="subtitle">Emerald Chronometer for the Web</p>

<p>This free web app is served by a site run by volunteers and provides no support. All the website does is serve, as a convenience, files available from the <a href="https://github.com/EmeraldSequoia/chronometer-web/releases" target="_blank" rel="noopener">GitHub releases page</a> (see instructions for running the app <a href="https://github.com/EmeraldSequoia/chronometer-web#option-3-run-from-your-own-local-web-server" target="_blank" rel="noopener">here</a>).</p>

<p>You are encouraged to report issues to the developers at the GitHub issues page <a href="https://github.com/EmeraldSequoia/chronometer-web/issues" target="_blank" rel="noopener">here</a>, but as the developers are also volunteers you may not get a response in a timely fashion.</p>

<hr>
